<!DOCTYPE html>
<html>
<head>
  <title>COMIC WEBSITE!</title>


  <link rel="stylesheet" href="/stylesheets/app.css" />
</head>

<body>

  <img src= <%= @xkcd_img %>></img>

  <img src= <%= @explosm_img %>></img>

  <img src=<%= @pa_img %>></img>

</body>
</html>
